p {
  padding: 10px 0 !important;
}

.App {
  max-width: 100vw;
}

.header {
  width: 100vw !important;
}

.header-container {
  width: 810px !important;
  max-width: 100vw;
}

.header-container a {
  text-align: center;
}

.login-container {
  width: 400px !important;
  max-width: 98vw;
  margin-top: 50px;
  text-align: center;
}
.login-heading {
  margin: 10px auto;
}

.menu-icon {
  color: white !important;
}

.add-icon-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.brand-logo {
  text-decoration: none;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: darkslategray;
  padding: 10px auto !important;
  font-size: 16px !important;
}

.body-container {
  margin-top: 30px;
  width: 800px !important;
  max-width: 100vw;
}

.form-control {
  margin: 20px auto;
}

.story-title {
  padding: 15px 0;
}
